@font-face {
    font-family: Myriad Pro; /* Имя шрифта */
    src: url(/fonts/myriadpro-cond.ttf); /* Путь к файлу со шрифтом */
}

.header_phone, .header_text, .header_city, .select_city {
    font-family: "Myriad Pro";
    color: #eee;
}

.header_phone {
    font-size: 25pt;    
    margin-left: 10px;
    line-height: 26px;
}

.header_text {
    font-size: 9pt;
    margin-left: 10px;
    margin-top: 5px;
    letter-spacing: 3px;
}

.header_city {
    font-size: 13pt;
}

.select_city a{
    color: #eee;
    font-size: 13pt;
}

.menu {
    font-size: 11pt;
}

.footer {
    font-size: 11pt;
}

/*index*/
.news_one {
    display: block;
    width: auto;
    background: #eee;
    text-align: left;
    vertical-align: top;
}

.news_one .img_n {
    width: 250px;
    height: 170px;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    display: inline;
    float: left;
    padding-right: 20px;
    -ms-interpolation-mode: bicubic;
}

.title {
    font-size: 20pt;
    font-family: "Myriad Pro";
}

.news_block a {
    color: #333333;
}

.news_block a:hover {
    text-decoration: none;
    display: block;
    cursor: pointer;
    color: #003bb3;
}

.news_text {
    display: block;
    padding: 20px;
    margin-top: 50px;
}

.photo_title {
    position: absolute;
    display: block;
    margin-left: 250px;
    top: 0px;
    height: 50px;
    padding: 5px;
    background: #d4d4d4;
}

.photo_title h6,
.photo_title p {
    line-height: 10px;
    color: #333333;
    font-size: 10pt;
}

.photo_title h4 {
    margin: 0 0 10px;
}

.photo_title p {
    margin-bottom: 0;
    font-size: 8pt;
}

.tab-pane {
    overflow: hidden;
}

.menu {
    background: #000;
    margin-bottom: 10px;
}
